/*
Red: c84141
Blue: 4174c8
Purple: c841bd
*/

#fee_container{
	width: 100%;
	overflow:hidden;
	border: 2px solid #000;
	background: #62a850;	
}

#fee_workspace {
	background: #62a850;
	float:right;
}

#fee_archiveMenu{
	padding: 5px;
	background: #ddd;
	overflow:hidden;
	border-bottom: 2px solid #000;
}

#fee_toolsMenu{
	height: 100%;
	padding: 5px;
	background: #ddd;
	float:left;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;	
}

#fee_toolsMenu a{
}

.toolsImg, .archiveImg, .fieldImg{
	display: block;
	padding: 5px;
	width: 36px;
	height: 36px;
	margin-bottom: 5px;
	background: #ccc;
	/*border: 1px solid #999;*/
	border-radius: 5px;
}

.archiveImg{
	float:left;
	margin-right: 5px;
	margin-bottom: 0;
}

.fieldImg{
	float:right;
	margin-left: 5px;
	margin-bottom: 0;
}

.pushed{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.ajaxImg{
	float:left;
	position:relative;
	left: 340px;
	top: 200px;
	margin-bottom: -64px;
}


